h1 {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  background: #EFEFEE;
  border-bottom: 1px solid #d4d4d4;
  padding: 2rem;
  font-size: 3rem;
  text-shadow: 1px 1px 1px black;
  background: #4198bb;
  color: white;
}

h3 {
  clear: both;
  text-transform: uppercase;
}

.pokemon-card {
  border-bottom: 4px solid #e8e8e8;
  padding: 1rem;
  background: #fbfbfb;
  clear: both;
}

.thumb {
  float: left;
}

dl {
  display: flex;
  flex-wrap: wrap;
}
dt {
  width: 33%;
  text-align: right;
  color: darkgrey;
}
dd {
  margin-left: auto;
  width: 66%;
}

.app {
  margin: 1rem;
  font-family: 'Press Start 2P', cursive;
}

button {
  display: block;
  margin: 1rem;
  padding: 2rem;
  border: none;
  font-family: 'Press Start 2P', cursive;
  background: #7df381;
  color: green;
}

button:hover {
  background: #bbffbd;
}
